#image-gallery {
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 10%;
}

.gallery-item {
    border: 1px solid black;
}

h1 {
    text-align: center;
    color: rgba(13, 45, 87, 0.8);
}

h3 {
    text-align: center;
    color: rgba(46, 45, 3, 0.8);
}

figure {
    text-align: center;
}

figcaption {
    font-style: italic;
    font-size: 0.75em;
    color: rgba(255, 69, 0, 0.8);
}

.bottom {
    float: right;
    margin-bottom: 20px;
}

.middle {
    width: 100%;
    margin-top: 10%;
}